*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: gray;
}
.mainContainer{
    border: 2px solid red;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    background-color: white;
    height: 80vh;
}
.headerContainer{
    border: 2px solid black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    /* border: 2px solid yellow; */
}
.navBar{
    /* border: 2px solid yellow; */
}
.navBar ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.navBar li{
    list-style: none;
}
.navBar a{
    text-decoration: none;
    color: black;
}
.chatBtn{
    /* border: 2px solid yellow; */
}
.chatBtn button{
    border: 0.5px solid rgb(192, 190, 190);
    background-color: white;
    padding: 2px;
}
.contentContainer{
    border: 2px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.info{
    border: 2px solid blue;
    width: 50%;
    background-color: white;
}
.intro{
    /* border: 2px solid red; */
    width: 65%;
    margin: auto;
    margin-top: 10%;
    font-size: xx-large;
}
.intro span{
    /* border: 1px solid rgb(54, 120, 219); */
    border-radius: 20px;
    background-color: rgb(54, 120, 219);
    font-size:x-large;
    padding: 5px;
}
.banner{
    border: 2px solid yellow;
    width: 50%;
}